.fulling-border{
  border: 1px solid black;
  border-top: 0px;  
  border-radius: 5px;
}

.avatar-container{
  background-color: white;
  height: 128px;
  width: 128px;
  top: -64px;
  left: 30px;
}

.profile-container{
  position:relative;
  display: flex;
  flex-shrink: 1;
  max-height: 128px;
  top: -64px;
}

.avatar-image{
  padding: 5px;
}

.profile-text{
  display: flex;
  flex-direction: column;
  max-height: 128px;
}

.follow-btn{
  height: 20px;
  width: 100px;
}

